/* Change colors in this file to style to your needs on a global level. 
*/

$primaryColor: #2a9d8f;

$bgColor: white;
$secondaryBgColor: #E7F9F9;
$subTitle: #868e96;
$textColor: black;

$textColorDark: #ffffff;

// button colors
$buttonColor: #2a9d8f;
$buttonHover: #3aab9d;
$topButtonHover: #000;

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #333;
$gitlab: #fca326;
$mail: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;

.colorText {
    color: $primaryColor;
}

.contact-button-center {
    margin: 0 auto;
}