@import "../../_globalColor";


.work-section {
    padding: 30px;
    margin-top: 1rem;
}

.work-section .title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;

}